*
{
    padding: 0;
    margin: 0;
}


body{
    background-image: url("");
}
h1
{
    display: none;
}

.header
{
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    .menu
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    }

        .menu > a
        {
            text-decoration: none;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: #313131;
            margin: auto 10px;
        }

        .link:hover
        {
            text-decoration: underline;
            color: #4D5053;
        }

        .menu img
        {
            width: 16px;
            height: 16px;
        }

        .login
        {
            padding: 6px 12px 7px;
            border: none;
            background-color:#4285f4 ;
            border-radius: 20pt;
        }

        .login:hover
        {
            border: 1px solid #db3236;
            font-weight: bold;
            outline: none;
            background: #db3236;
            background: -webkit-linear-gradient(top,#db3236,#db3236);
            text-decoration: none;
        }

        .login > p
        {
            color: #FFF;
            font-weight: bold;
            text-decoration: none;
        }

.page
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

    .panel
    {
        width: 100%;
        padding-bottom: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        .search
        {
            margin-top: 30px;
            text-align: center;
            width:10px;
            height:4vh;
            background-image:url("images/circle-cropped.png");
            color: rgba(0, 128, 128, 0);
            background-size:50px;
            background-repeat:no-repeat;
            outline:none;
            font-size:19px;
            padding: 3vh;
            padding-left: 40vh;
            padding-bottom: 4vh;
            border:none;
            background-color: #d6d6d6;
            cursor:pointer;
            border-radius:50px;       
            transition-duration:1s;
        }
        a{
            text-decoration: none;
            color:#5F6368 ;
        }
        .search:hover
        {
            color: black;
            background-color: green;
            padding-left:70vh;
            padding-right:40px;
            width:400px;
            cursor:text;
            box-shadow:0px 0px 2px 0px;
            background-color:white;
        }

        .search:focus
        {
            color: black;
            padding-left:80px;
            padding-right:40px;
            width:70vh;
            cursor:text;
            box-shadow:0px 0px 0.9px 0.9px;
            background-color:white;
        }

        .panel-button
        {
            font-family: arial,sans-serif;
            font-size: 14px;
            color: #5F6368;
            margin: 28px 4px;
            background-color: #F2F2F2;
            border: 1px solid #F2F2F2;
            border-radius: 20px;
            padding: 0 16px;
            line-height: 26px;
            min-width: 54px;
            height: 36px;
            text-align: center;
            cursor: pointer;
            user-select: none;
            position: relative;
            left: -8px;
            font-size: large;
        }

        .panel-button:hover
        {
            box-shadow: 0 1px 1px #0000001A;
            background-color: #4885ed;
            border: 1px solid #C6C6C6;
            color: white;
        }

        .panel-button:focus
        {
            border: 1px solid #4d90fe;
            outline: none;
        }

    footer a:hover
    {
        text-decoration: underline;
    }

.region
{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    background: #F2F2F2;
    border: 1px solid #E2E2E2;
    font-family: arial,sans-serif;
    font-size: 15px;
    color: #8E8E8E;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 40px;
    align-items: center;
}

.country
{
    margin-left: 30px;
}

.subnavegator
{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: fixed;
}

    .subnavegator a
    {
        text-decoration: none;
        font-family: arial,sans-serif;
        font-size: 14px;
        color: #5F6368;
    }

    .subnavegator-left
    {
        width: 34%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .subnavegator-left
        {
            margin-left: 30px;
        }

    .subnavegator-right
    {
        
        width: 20%;
        align-items: center;
    }
    
.subnavegator-right
{
    margin-right: 30px;
    
}



p{
    font-size: large;
    text-shadow: white;
    
}


@media only screen and (max-width: 600px)  
{ 
    .hidden  
    { 
 		display: hidden; 
    }
    <h1> sorry, mobile version is on its way
} 
